#lifeText {
    text-align: right;
    font-size: 50px;

}

#gameContainer {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    margin: auto;

}

#questionText {

    font-size: 50px;
}


.word {


    font-size: 107px;

    font-family: "Permanent Marker", cursive;
    margin-top: -100px;
}





.input {
    color: chocolate;
    display: table-column;
    text-align: center;
    margin-inline: 10px;
    font-size: 70px;

    width: 55px;
    height: 100px;

}

#inputContainer {

    font-size: 90px;


}

input[type="text" i] {
    padding: 10px;
}


#restartBtn {
    font-size: 25px;
    color: black solid;
    background-color: aqua;
    height: 40px;
    width: 120px;

    border-color: aqua;
    cursor: pointer;
}